{%extends 'all-photos/base.html' %}

{% block content %}
{{block.super}}

<div class="container">
        {% for mygallery_item in mygallery %}

<div class="row">
    <div class="col-xs-6 col-sm-6 col-lg-6">
        <h2 class="text-center"> {{mygallery_item.title}}</h2>
    </div>
    <div class="column">
        <p> <img src="{{mygallery_item.photo_image.url}}" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;" >{{photo.title}}</p></br>
       <p>Posted {{photo.pub_date}} by {{photo.uploader.first_name}}</p>
    </div>
</div>
{% empty %}

<div class="row">
    <h2 class="text-center"> There are no photos uploaded</h2>
</div>
{% endfor %}

</div>
{% endblock %}